.logement{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 3rem;
    @include small-screen{
        margin: 0 1rem;
    }
    @include medium-screen{
        margin: 0 1rem;
    }
}

.details-item{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    color: #ff6060;
    @include small-screen{
        :nth-child(1) { order: 1; }
        :nth-child(2) { order: 4; }
        :nth-child(3) { order: 2; }
        :nth-child(4) { order: 3; }
        :nth-child(5) { order: 5; }
        :nth-child(6) { order: 6; }

    }

    @include medium-screen{
        :nth-child(1) { order: 1; }
        :nth-child(2) { order: 4; }
        :nth-child(3) { order: 2; }
        :nth-child(4) { order: 3; }
        :nth-child(5) { order: 5; }
        :nth-child(6) { order: 6; }
    }

    &-locations {
        @include small-screen{
            width: 98%;
        }
        @include medium-screen{
            width: 98%;
        } 
    }
    &-title{
        font-size: 2.25rem;
        padding: 0.7rem 0;
        font-weight: 500;
        line-height: 142.6%;
        @include small-screen{
            font-size: 1.125rem;
        } 
    }

    &-location{
        font-size: 1.125rem;
        font-weight: 500;
        color: black;
        @include small-screen{
            font-size: 0.875rem;
        }

    }
    &-host{
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        @include small-screen{
            width: 50%;
        }

        @include medium-screen{
            width: 50%;
        }

        &--picture{
            width: 4rem;
            height: 4rem;
            flex-shrink: 0;
            border-radius: 50%;
        }

        &-name{
            font-size: 1.125rem;
            text-align: center;
            width: 20%;
            @include small-screen{
                font-size: 0.75rem;
                width: 40%;
            }
            @include medium-screen{
                width: 40%;
            }
        }
    
    }
    
    
    &-tags{
        display: flex;
        flex-flow: row wrap;
        gap: 0.5rem;
        @include small-screen{
            width: 98%;
        }
        @include medium-screen{
            width: 98%;
        }

        &--item{
            min-width: 7.1875rem;
            border-radius: 0.625rem;
            padding: 0rem 0.5rem;
            background-color: #ff6060;
            color: #fff;
            text-align: center;
            font-size: 0.875rem;
            font-style: normal;
            @include small-screen{
                font-size: 0.625rem;
            }
        }
    }

    &-rating {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        @include small-screen{
            justify-content: flex-start;
            width: 40%;
        }
        @include medium-screen{
            justify-content: flex-start;
            width: 40%;
        }
    }
    &-description{
        @include small-screen{
            width: 98%;
        }
        @include medium-screen{
            width: 98%;
        }
    }
    &-equipments {
            @include small-screen{
                width: 98%;
            }
            @include medium-screen{
                width: 98%;
            } 
    }
}