.star {
    width: 1.2rem;
    height: 1.2rem;
    @include small-screen{
        width: 0.9rem;
        height: 0.9rem;
    }
    &-full{
        color: #ff6060;
    }

    &-empty{
        color: #c4c4c4;
    }
}