.header {
    display: flex;
    flex-direction: row;
    height: 4.25rem;
    justify-content: space-between;
    align-items: center;

    max-width: 90rem;
    margin: 0 auto;
    width: 100%;

    @include small-screen {

        height: 2.9rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    @include medium-screen {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
      }
}

.header-logo {
    width: 13.14513rem;

    @include small-screen {
        width: 9rem;
    }
}

.header-navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 3.5625rem;
    color: #000;

    @include small-screen {
        gap: 1.625rem;
    }

    &--item {
        color: #000;
        text-align: right;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;

        @include small-screen {
            font-size: 1rem;
        }

    }

    &--active {
        color: #000;
        text-align: right;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
        text-decoration: none;
        text-decoration-line: underline;

        @include small-screen {
            font-size: 1rem;
        }

    }
}