.header {
    display: flex;
    flex-direction: row;
    height: 4.25rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;




}
.header-logo{
    width: 13.14513rem;
}

.header-navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3.5625rem;
    color: #ff6060;


}